@{
    Layout = null;
}
@model ELG.Model.Learner.BPCResponse

<style>
            .elg-wdgt-container {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        /*width: 500px;*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .elg-wdgt-header {
        background-color: #D84738;
        color: #ffffff;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }

.elg-wdgt-body {
    padding: 20px;
    font-size: 20px;
}

    .elg-wdgt-footer {
        display: flex;
        text-align:center;
        padding: 20px;
    }

    .elg-wdgt-prompt, .elg-wdgt-ans {
        margin: 20px 0;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        color: #4472C4;
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    }

.elg-wdgt-ans-input, .elg-wdgt-resp-input {
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
}

.elg-wdgt-submit-button, .elg-wdgt-mashow-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    display: block;
    margin: 20px auto 0;
}
.elg-wdgt-submit-button.active:hover, .elg-wdgt-mashow-button:hover {
    background-color: @Model.HeaderColor;
    cursor: pointer;
}
    .elg-wdgt-submit-button.disabled:hover, .elg-wdgt-mashow-button.disabled:hover {
        cursor: not-allowed;
    }
    .elg-wdgt-submit-button.disabled, .elg-wdgt-mashow-button.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
ol {
    padding-left: 20px;
}
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    vertical-align: middle;
    margin-right: 8px;
}
</style>
    <div class="elg-wdgt-container" id="elg-widget_@(Model.QueWidgetID)">
        <div class="elg-wdgt-header" style="background-color: @Model.HeaderColor;">
            @Model.QueWidgetTitle
        </div>
        <div class="elg-wdgt-body">
            <div class="elg-wdgt-prompt">

                @{
                    if (Model.QuesMode == "after")
                    {
                        <p>@Model.AfterResponseHeading</p>
                    }
                    else
                    {
                        <p>@Model.Question</p>
                    }
                }

            </div>
            <div class="response-holder">
                @{
                    if (String.IsNullOrEmpty(Model.Response_1))
                    {
                        <textarea rows="2" id="txt_resp_1_@Model.QueWidgetID" class="elg-wdgt-ans-input" placeholder="Enter your response" oninput="bpcWidgetHandler.checkInputs('@Model.QueWidgetID')"></textarea>
                    }
                    else
                    {
                        <div><p class="elg-wdgt-ans">@Model.Response_1</p></div>
                    }
                    if (String.IsNullOrEmpty(Model.Response_2))
                    {
                        <textarea rows="2" id="txt_resp_2_@Model.QueWidgetID" class="elg-wdgt-ans-input" placeholder="Enter your response" oninput="bpcWidgetHandler.checkInputs('@Model.QueWidgetID')"></textarea>
                    }
                    else
                    {
                        <div><p class="elg-wdgt-ans">@Model.Response_2</p></div>
                    }
                    if (String.IsNullOrEmpty(Model.Response_3))
                    {
                        <textarea rows="2" id="txt_resp_3_@Model.QueWidgetID" class="elg-wdgt-ans-input" placeholder="Enter your response" oninput="bpcWidgetHandler.checkInputs('@Model.QueWidgetID')"></textarea>
                    }
                    else
                    {
                        <div><p class="elg-wdgt-ans">@Model.Response_3</p></div>
                    }

                }
            </div>

            @if (Model.QuesMode == "after")
            {
                <p>@Model.AfterQuestion</p>
                if (String.IsNullOrEmpty(Model.FeedBackResponseText))
                {
                    <textarea rows="2" id="txt_feedback_@Model.QueWidgetID" class="elg-wdgt-resp-input" placeholder="Type your answer here." oninput="bpcWidgetHandler.validateFeedback('@Model.QueWidgetID')"></textarea>
                    <div class="elg-wdgt-footer">

                        <button id="btn_submit_ma_@Model.QueWidgetID" class="elg-wdgt-mashow-button disabled" onclick="bpcWidgetHandler.saveFeedback(this)">
                            SUBMIT
                        </button>

                    </div>
                }
                else
                {
                    <p>
                        <i>The feedback you provided: </i>
                    </p>
                    <p>@Model.FeedBackResponseText</p>
                }
            }
            else
            {
                <div class="elg-wdgt-footer">

                    @if (!Model.Responded)
                    {
                        <button id="btn_sbmt_@Model.QueWidgetID" class="elg-wdgt-submit-button disabled" onclick="bpcWidgetHandler.saveUserResponses(this)">
                            SUBMIT
                        </button>
                    }

                </div>
            }
        </div>
    </div>
