<div class="modal fade" id="learnerWithFreeLicenseModal" tabindex="-1" role="dialog" aria-labelledby="learnerWithFreeLicenseModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-inline">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">User</span>
                                        </div>
                                        <input type="text" id="txt_lwfl_Learner" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Name/Email">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="ddl_lwfl_Location">@ELG.Web.Helper.SessionHelper.CompanySettings.strLocationDescription</label>
                                        </div>
                                        <select id="ddl_lwfl_Location" class="custom-select ddl-loc">
                                            <option value="0">Select All</option>
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="ddl_lwfl_Department">@ELG.Web.Helper.SessionHelper.CompanySettings.strDepartmentDescription</label>
                                        </div>
                                        <select id="ddl_lwfl_Department" class="custom-select ddl-dep">
                                            <option value="0">Select All</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <button id="search_lwfl_Learner" class="btn btn-primary" type="button">
                                            <i class="fa fa-search fa-sm"></i> Search
                                        </button>
                                    </div>
                                    <div class="input-group mb-3">
                                        <button id="clearSearch_lwfl_Learner" class="btn btn-secondary" type="button">
                                            <i class="fa fa-times fa-sm"></i> Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="message_freeLicences"></div>
                        <div class="table-responsive">
                            <button type="button" class="btn btn-dark float-right disabled" id="btnFreeFromSelected" data-toggle="tooltip" title="Select some learners">Recall from Selected</button>
                            <table class="table" id="learnerListFor_LWFL" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="chk_slc_all_user_rl" value="1" id="chk_slc_all_user_rl"><span> Select All</span></th>
                                        @*<th>@ELG.Web.Helper.SessionHelper.CompanySettings.strEmployeeNumberDescription</th>*@
                                        <th>User</th>
                                        <th>Email</th>
                                        <th>@ELG.Web.Helper.SessionHelper.CompanySettings.strLocationDescription</th>
                                        <th>@ELG.Web.Helper.SessionHelper.CompanySettings.strDepartmentDescription</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



